<div class="user-list-item col-xs-6">
	<div class="clearfix">
		<p class="name"><%= user.name %></p>
		<p class="email"><%= user.email %></p>
		<% if is_friend?(user.id) %>
			<%= form_tag "remove_friend", method: :post, class: "form pull-right" do %>
				<%= hidden_field_tag "user_id", user.id %>
				<%= submit_tag "X", class: "btn btn-danger" %>
			<% end %>
			<p class="btn bg-info pull-right">Added</p>
		<% else %>
			<%= form_tag "add_friend", method: :post, class: "form pull-right" do %>
				<%= hidden_field_tag "user_id", user.id %>
				<%= submit_tag "Add friend", class: "btn btn-default" %>
			<% end %>
		<% end %>
	</div>
</div>